:root {
  --primary-text-color: #757575;
  --accent-color: #2196f3;
  --button-hover-color: #188ce8;
}
body {
  background-color: #ffffff;
  font-family: Roboto, sans-serif;
}

html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}

.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.link {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #212121;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/*------------------------------header----------------------------------*/

.header {
  border-bottom: solid 1px #ececec;
  padding-top: 24px;
  padding-bottom: 25px;
}
.nav {
  display: flex;
  align-items: center;
}
.header-top {
  display: flex;
  align-items: center;
}
.logo {
  color: var(--accent-color);
  font-family: Raleway;
  margin-right: 93px;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo-header {
  color: black;
}

.contacts-item {
  display: flex;
  align-items: center;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  cursor: pointer;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-list {
  display: flex;
  margin-left: auto;
  text-align: center;
  justify-content: center;

}

.contacts-list li:not(:last-child) {
  margin-right: 50px;
}

.nav-list {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: inline-block;
  display: flex;
}
.nav-list li:not(:last-child) {
  margin-right: 50px;
}

.nav-list .nav-link.current {
  color: #2196f3;
}

.nav-link {
  color: #212121;
  display: block;
  position: relative;

  cursor: pointer;transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-link.current::after {
  content: '';
  position: absolute;
  left: 0;
  bottom:-34px;
  border-radius: 2px;
  background-color: #2196f3;
  width: 100%;
  height: 4px;
}
.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}


.contacts-item:hover,
.contacts-item:focus {
  color: var(--accent-color);
}

.contacts-icon {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: var(--primary-text-color);
}

.contacts-icon-tel {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: currentColor;
}

.contacts-icon {
  fill: currentColor;
}

/* ----------------------------hero----------------------------*/



.overlay {
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/backgr.jpg);
  height: 600px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.hero {
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-text {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 0;
  margin-bottom: 30px;
  width: 696px;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
}

.button-hero {
  background-color: var(--accent-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  margin-bottom: 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 32px;
  padding-left: 32px;
  transition-property: box-shadow, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.button-hero:hover,
.button-hero:focus {
  background-color: var(--button-hover-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

}
/*---------------------------- benefits----------------------------*/

.benefits .li {
  width: 270;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.benefits-list {
  display: flex;
  justify-content: space-between;
}
.benefits-name {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  margin-bottom: 10px;
  margin-top: 0;
  text-align-last: left;
}
.benefits-description {
  width: 270px;
  font-weight: 400;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
.benefits-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}

/*-----------------------------work--------------------------------*/
.work {
  padding-top: 0;
}

.work-picture {
  display: block;
  max-width: 100%;
  height: auto;
}
.work-list {
  display: flex;
  justify-content: space-between;
}

.work-foto:not(:last-child) {
  margin-right: 30px;
}

.work-text {
  color: #212121;
}
h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-top: 0;
  margin-bottom: 50px;
}
.work-tumb {
  position: relative;
}
.work-descrip {
  position: absolute;
  background-color: rgba(47, 48, 58, 0.8);
  width: 100%;
  bottom: 0;
  left: 0;
  padding: 27px 82px;
  margin: 0;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}



/*-----------------------------unit----------------------------------*/

.unit {
  background-color: #f5f4fa;
}

h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.unit-title {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 16px;
  color: var(--primary-text-color);
}
.unit-list {
  display: flex;
}

.unit-card {
  margin-top: 0;
  margin-bottom: 30;
  display: block;
  max-width: 100%;
  height: auto;
}
.unit-item + .unit-item {
  margin-left: 30px;
}
.unit-name {
  padding-top: 30px;
  margin-top: 0;
  margin-bottom: 16px;
}
.unit-description {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.unit-button-list {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}

.unit-button {
  background-color: #ffffff;
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid transparent;
  color: #afb1b8;
  cursor: pointer;
  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.unit-button:hover,
.unit-button:focus {
  background-color: var(--accent-color);
  color: #ffffff;
}

.button-icon {
  fill: currentColor;
}

.unit-button-item:not(:last-child) {
  margin-right: 10px;
}

/*-----------------------------partners------------------------------*/
.partners-link {
  border: 1px solid #afb1b8;
  border-radius: 4px;
  display: flex;
  width: 170px;
  height: 92px;
  align-items: center;
  justify-content: center;
  color: #afb1b8;
  cursor: pointer;
  transition-property: color, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.partners-link:hover {
  border: 1px solid #2196f3;
  color: #2196f3;
}
.partners-link:focus {
  border: 1px solid #2196f3;
  color: #2196f3;
}

.partners-item:not(:last-child) {
  margin-right: 30px;
}
.partners-list {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}
.partners-icon {
  width: 106px;
  height: 60px;
  fill: currentColor;
}

/*----------------------------footer---------------------------------*/
footer {
  background-color: #2f303a;
  color: var(--accent-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
footer .container {
  display: flex;
  align-items: baseline;
}
footer .logo {
  margin-right: 0;
}
.footer-main {
  margin-right: 70px;
}

.logo-footer {
  color: #ffffff;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.footer-contacts {
  margin-top: 20px;
}
.footer-item:not(:last-child) {
  margin-bottom: 9px;
}
.footer-adress {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.footer-link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  cursor: pointer;
  transition-property: color, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-link:hover,
.footer-link:focus {
  color: var(--accent-color);
}

.footer-social-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.footer-button-list {
  display: flex;
  justify-content: center;
}
.footer-item {
  display: flex;
}

.footer-button {
  background-color: rgba(255, 255, 255, 0.1);
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: #ffffff;
  cursor: pointer;
  cursor: pointer;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-button:hover {
  background-color: var(--accent-color);
}
.footer-button:focus {
  background-color: var(--accent-color);
  outline: var(--accent-color);
}

.footer-icon {
  fill: #ffffff;
}

.footer-button-item:not(:last-child) {
  margin-right: 10px;
}
/*----------------modal---------------------------------*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition-property: opacity, visibility;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 1;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 528px;
  height: 581px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal-close {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 490px;
  margin-top: 8px;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.8);
}

/*---------------portfolio.work-type--------------------------*/

.work-type { 
}
.button-main-link:hover,
.button-main-link:focus {
  background-color: var(--accent-color);
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
    
}

.button-main-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.button-filter-item:not(:last-child) {
  margin-right: 8px;
}
.button-main-link {
  margin-top: 0;
  margin-bottom: 0;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  background-color: #f5f4fa;
  border-radius: 4px;
  border: transparent;
  padding: 6px 22px;
  display: inline-block;
  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button-main-list .button-main-link .current {
  color: #2196f3;
}

.example-list {
  display: flex;
  margin: -15px;
  flex-wrap: wrap;
}
.example-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
  text-align: left;
  margin-bottom: 0;
}

.description-card {
  background: #ffffff;
  border: 1px solid #eeeeee;
  border-top: none;
  padding: 20px 24px;
}

.example-card {
  display: block;
  max-width: 100%;
  height: auto;
}
.example-thumb {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  background-color:  var(--accent-color);
  overflow: hidden;
}

.example-link:hover .example-action {
  transform: translateY(0);
  cursor: pointer;
}
.example-link:focus .example-action {
  transform: translateY(0);
  cursor: pointer;
}

.example-action {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.example-action-text {
  margin: 63px 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.example-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  text-align: left;
  margin: 0;
}
.example-item {
  margin: 15px;
}

.example-link {
  display: block;
}

.example-link:hover {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.example-link:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
